body {
	font-family:'Lato', sans-serif;
	background:#2C3E50;
	color:#ECF0F1;
}

h1 {
	font-size:50px;
	font-weight: 300;
	margin:50px 0 50px;
}

p{
	font-size:22px;
	font-weight: 200;
}

.container{
	max-width: 850px;
}

a:link {
	color: #1ABC9C;
	text-decoration: none;
	font-weight: 300;
}

a:hover,
a:active {
	text-decoration: none;
	color:#48c9b0;
}

/* Toolbar */
.btn-toolbar{
	width:200px;
	margin:50px auto;
}

.btn-toolbar a.btn
{
	color: #ECF0F1;
}