html,
body {
	margin:0;
    padding:0;
    height:95%;
	font-family:'Lato', sans-serif;
	background: url("../images/shattered.png") #242222;
	color:#ECF0F1;
}

#topline{
	width: 100%;
	height: 5px;
	background:rgba(0,0,0,0);
	-webkit-transition: background 0.5s linear;
}

#topline.admin
{
	background:#48c9b0;
}

.hidden{
	display: none;
}

/* ---------------------------------- *\
 			Typography
\* ---------------------------------- */

::-moz-selection {
    background-color: rgba(0,0,0,0.15);
}

::selection {
    background-color: rgba(0,0,0,0.15);
}

h1{
	font-size:50px;
	font-weight: 300;
	margin-top:30px;
	margin-bottom:50px;
	margin-left:-10px;
	-webkit-transition: all .3s ease-out;
	opacity:0;
}

h1.displayed{
	margin-left:0;
	opacity:1;
}

h2{
	font-size:20px;
	font-weight: 500;
}

h3{
	font-size:20px;
	font-weight: 500;
	color:#BDC3C7;
}

li,p{
	font-size:20px;
	font-weight: 200;
	line-height: 1.5;
}

/* Landscape phones and down */
@media (max-width: 480px) {
li,p{
	font-weight: 300;
}
}

a,
a:link {
	color: #1ABC9C;
	text-decoration: none;
	font-weight: 300;
}

a:hover,
a:active {
	text-decoration: none;
	color:#48c9b0;
}

/* ---------------------------------- *\
 			Layout
\* ---------------------------------- */

#page{
	min-height: 100%;
	position: relative;
}

/* Header */

#header .btn-toolbar{
	width:200px;
	margin:50px auto;
}

#header .btn-toolbar a.btn
{
	padding: 11px 18px 6px;
	color: #ECF0F1;
}

#header .btn-toolbar a.btn i.icon-large{
}

/* Main */

#main{
	padding-bottom: 100px;
}

#main .container{
	max-width: 890px;
	padding:0 20px;
}

#main .content{
	opacity:0;
	margin-left:10px;
	-webkit-transition: all .3s ease-out ;
}

#main .content.displayed{
	opacity:1;
	margin-left:0;
}

/* Footer */

#footer
{
	width:100%;
	height:100px;
	position:absolute;
	bottom: 0;
}

/* Articles */

.article .separator {
	width: 20px;
	margin:40px auto;
}
.article .separator span{
	color:#1ABC9C;
}

