@bg: #242222;
@white: #ECF0F1;
@color: #1ABC9C;

.myColor { color: @color; }

* {
	-webkit-touch-callout:none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

html,
body {
	margin:0;
	padding:0;
	height:100%;
}

body{
	font-family:'Lato', Helvetica, Arial, sans-serif;
	color:@white;
	background: url("../images/shattered.png") @bg;
}

.hidden{
	display: none;
}

.loader{
	margin-top:150px;
	text-align: center;
}

/* ----------  Buttons ----------- */

.btn.btn-primary
{
	background-color: @color;
}

.btn.btn-primary.active,
.btn.btn-primary.active:hover
{
	background-color: darken(@color,8%);
}

.btn.btn-primary:hover
{
	background-color: lighten(@color,10%);
}

/* ----------  Anims ----------- */

.animate{
	transition: .5s;
	-webkit-transition: .5s;
	opacity:0;
}

.animate.from-left{
	transform: translateX(-10px);
	-webkit-transform: translateX(-10px);
}

.animate.from-right{
	transform: translateX(10px);
	-webkit-transform: translateX(10px);
}

.animate.from-top{
	transform: translateY(-15px);
	-webkit-transform: translateY(-15px);
}

.animate.from-bottom{
	transform: translateY(15px);
	-webkit-transform: translateY(15px);
}

.animate.from-far{
	transform: translateZ(-20px);
	-webkit-transform: translateZ(-20px);
}

.animate.from-near{
	transform: translateZ(20px);
	-webkit-transform: translateZ(20px);
}

.animate.trigger{
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
	opacity:1;
}
/* ----------  Typo ----------- */

::-moz-selection {
	background-color: rgba(0,0,0,0.25);
}

::selection {
	background-color: rgba(0,0,0,0.25);
}

h1{
	font-size:48px;
	font-weight: 300;
	margin-top:30px;
	margin-bottom:50px;
}


h2{
	font-size:22px;
	font-weight: 500;
}

h3{
	font-size:18px;
	font-weight: 500;
}

li,p{
	font-size:20px;
	font-weight: 200;
	line-height: 1.8;
}

a,
a:link {
	color: @color;
	text-decoration: none;
	font-weight: 300;
}

a:hover,
a:active {
	text-decoration: none;
	color:lighten(@color, 15%);
}

/* ----------  Layout ----------- */

#page{
	min-height: 100%;
	position: relative;

	perspective: 600px;
	perspective-origin: 50% 50%;

	-webkit-perspective: 600px;
	-webkit-perspective-origin: 50% 50%;
}

/* Header */

#header .btn-toolbar{
	width:213px;
	margin:0px auto;
	padding: 50px;
}

#header .btn-toolbar a.btn
{
	padding: 11px 18px 6px;
	color: @white;
}

#header .btn-toolbar a.btn i.icon-large{
}

/* Main */

#main{
	padding-bottom: 100px;
}

#main .container{
	max-width: 890px;
	padding:0 20px;
}

/* Scribbles */

ul.scribbles {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.scribbles li{
	padding : 12px 0;
}

ul.scribbles span{
	position: absolute;
	text-align: right;
	width: 70px;
	display: block;
	padding-top: 4px;
}

ul.scribbles li a.btn{
	font-weight: 200;
	font-size: 20px;
	background: fadeout(black,40%);
	color: @white;
	padding: 8px 20px;
	margin-left: 90px;
	text-align: left;
}

ul.scribbles li a.btn:hover{
	background: fadeout(@color,40%);
}

/* Footer */

#footer{
	width:100%;
	height:100px;
	position:absolute;
	bottom: 0;
}

/* ------------------- Mobile CSS ------------------------*/

@media (max-width: 480px) {

	/* typo */
	h1{
		font-size:40px;
		margin-top:20px;
		margin-bottom:30px;
	}

	li,p{
		font-size:16px;
		font-weight: 300;
	}

	/* Menu */
	#header .btn-toolbar{
		width:100%;
		background-color: @color;
		text-align: center;
		padding: 0px;
		position:fixed;
		z-index: 9999;
	}

	#header .btn-toolbar .btn-group{
		width:213px;
		margin:0 auto;
	}

	.btn-group > .btn:first-of-type {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	.btn-group > .btn:first-of-type,
	.btn-group > .btn:last-of-type {
		border-radius: 0;
	}

	/* Scribbles */
	ul.scribbles li a.btn{
		font-size:16px;
		padding: 6px 14px;
		font-weight: 300;
	}

	/* layout */
	#main .container{
		padding:0px 10px 30px;
	}

	#main .container{
		padding:60px 10px 0px;
	}
}