<h1 class="animate from-left" ng-class="{trigger: true}">Hey. I'm Alexis</h1>

<div class="content animate from-right" ng-class="{trigger: true}">
    <p>I experiment new ideas <a href="{{perso.github}}" target="_blank">on Github</a>. I help and get helped on <a href="{{perso.stack_overflow}}" target="_blank">Stack Overflow</a>.<br/> I scout for great start-up stories <a href="{{perso.hn}}" target="_blank">on Hacker News</a>.<br/>
     You'll probably find me doing all this with my earbuds on, listening to some sweet tunes on <a href="{{perso.grooveshark}}" target="_blank">Grooveshark</a>.
     <br/><br/>
     You can also have a look at my <a href="{{perso.osrc}}" target="_blank">Open Source Report Card</a>.
 </p>
</div>