<h1 ng-class="{displayed: true}">Hey. I'm Alexis</h1>

<div class="content" ng-class="{displayed: true}">
<p>I experiment new ideas <a href="https://github.com/kirualex" target="_blank">on Github</a>. I help and get helped on <a href="http://stackoverflow.com/users/421786/kirualex" target="_blank">Stack Overflow</a>.<br/> I scout for great start-up stories <a href="https://news.ycombinator.com/user?id=kirualex" target="_blank">on Hacker News</a>.<br/>
   You'll probably find me doing all this with my earbuds on, listening to some sweet tunes on <a href="http://grooveshark.com/#!/kirualex" target="_blank">Grooveshark</a>.
   <br/><br/>
   You can also have a look at my <a href="http://osrc.dfm.io/kirualex" target="_blank">Open Source Report Card</a>.
</p>
</div>