@charset "utf-8";

body,html{
	width:100%;
	background:url('../img/dark_wood.png') repeat;
	margin:0;
	padding:0;
	
	-webkit-appearance: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);

	text-align:center;
}

button.bam {
	cursor:pointer;
	border:0;
	margin: 4% auto 1%;
	width:250px;
	height:250px;
	background:url('../img/button_normal.png') no-repeat;
}

button.bam:active{
	cursor:pointer;
	width:250px;
	height:250px;
	background:url('../img/button_pressed.png') no-repeat;
}

.ripped_paper{
	margin: 0px auto;
	width:380px;
	height:124px;
	background:url('../img/ripped_paper.png') no-repeat;
}

.flash{
	position:absolute;
	top:0;
	width:100%;
	height:100%;
	background:#FFF;
	opacity:0.9;
	display:none;
}
