@color: #3a9ea6;
.myColor { color: @color; }

* {
	-webkit-touch-callout:none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

html,
body {
	margin:0;
	padding:0;
	height:100%;
	text-rendering: optimizeLegibility;
}

body{
	font-family:'Lato', Helvetica, Arial, sans-serif;
	color:#1c2125 ;
	background: #F2F2F2;
}

hr{
	border-top: none;
	border-bottom: 1px solid #BDBDBD;
	width: 200px;
	margin: 40px auto 30px;
}

.centered{
	margin:auto;
	text-align: center;
}

/* ----------  Buttons ----------- */

.btn.btn-primary{
	background-color: @color;
}

.btn.btn-primary.active,
.btn.btn-primary.active:hover{
	background-color: darken(@color,7%);
}

.btn.btn-primary:hover{
	background-color: lighten(@color,7%);
}

/* ----------  Typo ----------- */

::-moz-selection {
	background-color: rgba(0,0,0,0.05);
}

::selection {
	background-color: rgba(0,0,0,0.05);
}


h1{
	font-size:48px;
	font-weight: 300;
	margin:30px 0 50px;
}


h2{
	font-size:28px;
	font-weight: 500;
}

h3{
	font-size:24px;
	font-weight: 500;
}

h4{
	font-size:18px;
	font-weight: 500;
}

li,p{
	font-size:20px;
	font-weight: 300;
	line-height: 1.8;
}

p{
	margin:15px 0;
}

blockquote{
	font-family: Georgia, Times, serif;
	background: #EFEFEF;
	font-style: italic;
	font-size: 22px;
	font-weight: 300;
	border-left: 5px solid @color;
	padding: 1px 5px 15px 15px !important;
}

blockquote p:before {
	content: open-quote;
	font-weight: bold;
	font-size: 3em;
	vertical-align:-.2em;
	margin-right: 10px;
}

a,
a:link {
	color: @color;
	text-decoration: none;
	font-weight: 300;
	padding:1px 4px 3px;
	border-radius: 3px;
}

a:hover{
	text-decoration: none;
	color:white;
	background-color: @color;
}

a[href*="akamai"]:hover{
	display:none;
}

a.anchor{
	display: none;
}

a.back{
	position:absolute;
	padding:8px 6px 2px 4px;
	left:15px;
}

/* ----------  Misc ----------- */

.avatar {
	text-align: center;

	transition: .5s;
	-webkit-transition: .5s;
	transition-property: all;
	-webkit-transition-property: all;
}

.avatar img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}

/* ----------  Layout ----------- */

#page{
	min-height: 100%;
	position: relative;
}

.container{
	max-width: 880px;
}

#topline{
	height:30px;
}

/* Header */

#header{
	background: url("../images/shattered.png") #242222;
}


#logo{
	position: absolute;
	margin:40px 0px;
	opacity: 0.2;
	cursor: pointer;

	transition: .5s;
	-webkit-transition: .5s;
	transition-property: opacity;
	-webkit-transition-property: opacity;
}

.container #logo.not_home{
	opacity: 1;
}

#header .btn-toolbar{
	width:213px;
	margin:0 auto;
	padding: 40px;
}

#header .btn-toolbar a.btn{
	padding: 11px 18px 6px;
	color: #ECF0F1 ;
}

/* Main */

#main{
	padding-bottom: 100px;
	perspective: 600px;
	perspective-origin: 50% 50%;
	-webkit-perspective: 600px;
	-webkit-perspective-origin: 50% 50%;
}

#main .container{
	padding:0 20px;
}


ul{
	list-style-type: square;
}

/* Scribbles */

ul.scribbles {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.scribbles li{
	padding : 12px 0;
}

ul.scribbles span{
	position: absolute;
	text-align: right;
	width: 70px;
	display: block;
	padding-top: 4px;
}

ul.scribbles li a.btn{
	font-size: 20px;
	background:#242222;
	padding: 8px 15px;
	margin-left: 90px;
	text-align: left;
	color:#ECF0F1 ;
	border-radius: 5px;
}

ul.scribbles li a.btn:hover{
	background: @color;
}


.scribble{
	max-width: 700px;
	padding:0 40px;
	margin:auto;
}

.scribble h1{
	font-size:42px;
	font-weight: 500;
	margin:20px 0 30px;
}

/* Scribble content */

.article-footer{
	padding-top: 20px;
	background: none;
}

.share{
	width: 100px;
	background: none;
	float : right;
}

.share a{
	color: #AAA;
	text-decoration: none;
	border:none;
	cursor: pointer;
	border-radius: 0px;
	padding: 10px;
}

.share a:hover{
	color: #333;
	background: none;
}


/* Footer */

#footer{
	width:100%;
	height:60px;
	position:absolute;
	bottom: 0;
}

#holder{
	width:150px;
	height:25px; 
	margin:25px auto 10px;
}

/* ------------------- Mobile CSS ------------------------*/

@media (max-width: 480px) {

	body{
		color:#E6E6E6 ;
		background: url("../images/shattered.png") #242222;
	}

	/* typo */
	h1{
		font-size:42px;
		margin-top:10px;
		margin-bottom:20px;
	}

	li,p{
		font-size:16px;
		font-weight: 300;
	}

	blockquote{
		font-family: Georgia,'Times New Roman', Times, serif;
		font-style: italic;
		font-size: 18px;
		background: fadeout(#1c2125,60%);
	}

	a.back{
		position: relative;
	}

	/* layout */

	#topline{
		height:0px;
	}

	.container #logo{
		display: none;
	}

	#main{
		padding-bottom: 50px;

	}

	#main .container{
		padding:60px 10px 30px;
	}

	.scribble{
		width: auto;
		margin:auto;
		padding: 0;
	}

	.share a:hover{
		color: #EEE;
		background: none;
	}

	/* Menu */
	#header .btn-toolbar{
		width:100%;
		background-color: @color;
		text-align: center;
		padding: 0;
		position:fixed;
		z-index: 9999;
	}

	#header .btn-toolbar .btn-group{
		width:213px;
		margin:0 auto;
	}

	.btn-group > .btn:first-of-type,
	.btn-group > .btn:last-of-type {
		border-radius: 0;
	}

	/* Scribbles */
	ul.scribbles li a.btn{
		font-size:16px;
		padding: 6px 14px;
		font-weight: 300;
		margin-left: 70px;
	}

	ul.scribbles span{
		width: 60px;
	}

}