<h1 class="animate from-left" ng-class="{trigger: true}">/contact</h1>

<div class="content animate from-right" ng-class="{trigger: true}">
    <p>I'm currently <b><span ng-class="{hidden: perso.isAvailable}">not </span>open</b> for business.<br/>
    		<span ng-class="{hidden: perso.isAvailable}">But <a href="mailto:{{perso.mail}}">we can talk</a></span>
    		<span ng-class="{hidden: !perso.isAvailable}"><a href="mailto:{{perso.mail}}">Let's talk</a> </span>
    </p>
</div>
<br/>
<h2 class="animate from-right" ng-class="{trigger: true}">Acknowledgments</h2>
<div class="content animate from-right" ng-class="{trigger: true}">
	<p>Here is a list of the libraries and services this website relies on.</p>
	<ul>
		<li><a href="http://angularjs.org/" target="_blank">AngularJS</a>, the framework on which this site was built</li>
		<li><a href="http://jquery.com/" target="_blank">JQuery</a></li>
		<li><a href="http://raphaeljs.com/" target="_blank">RaphaelJS</a></li>
		<li><a href="http://lesscss.org/" target="_blank">LessCSS</a></li>
		<li><a href="http://lab.hakim.se/fokus//" target="_blank">Fokus</a>, select some text to see what it does</li>
		<li><a href="http://github.com/" target="_blank">Github</a>, for hosting and markdown parsing</li>
	</ul>
	<p>All those belong to their respective owners.</p>

</div>