
<div class="avatar animate" ng-class="{trigger: imageLoaded}">
	<img />
</div>


<div class="content animate from-right" ng-class="{trigger: true}">
	<p>I'm <b>Alexis Creuzot</b>, a Mobile Engineer located in Rennes, France
		<br/>
		I experiment new ideas <a href="{{perso.github}}" target="_blank">on Github</a>, help and get helped on <a href="{{perso.stack_overflow}}" target="_blank">Stack Overflow</a> and scout for great stories <a href="{{perso.hn}}" target="_blank">on Hacker News</a>. All that listening to some sweet tunes on <a href="{{perso.grooveshark}}" target="_blank">Grooveshark</a>.
		<p>Oh, and I really like <a href="{{perso.osrc}}" target="_blank">Open Source</a>.<p>
	</p>
</div>
<br/>
<h2 class="animate from-right" ng-class="{trigger: true}">Last scribbles</h2>
<div class="content animate from-right" ng-class="{trigger: true}" ng-controller="ScribblesController">
	<ul class="scribbles">
		<li data-ng-repeat="s in scribbles | orderBy:'id':true | limitTo:3" >
			<span class="date">{{s.date}}</span>
			<a ng-href="#!/scribble/{{slug(s.title)}}" class="btn">{{s.title}}</a>
		</li>
	</ul>
</div>