* {
    -webkit-touch-callout:none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html,
body {
    margin:0;
    padding:0;
    height:100%;
    text-rendering: optimizeLegibility;
    font-family:'Source Sans Pro', Helvetica, Arial, sans-serif;
    color:#ecf0f1;
}

#header, #features, body{
  background-color:#282828;
}

hr{
    border-top: 1px solid #000;
    border-bottom: 1px solid #555;
    width: 300px;
    margin: 40px auto 30px;
}

.centered{
    margin:auto;
    text-align: center;
}

/* ----------  Typo ----------- */

h1{
    font-size:30px;
    color:#fff;
    font-weight: 300;
    margin:8px 0px;
}


h2{
    color:#3498db;
    font-size:28px;
    font-weight: 200;
}

li,p{
    font-size:18px;
    font-weight: 300;
    line-height: 1.8;
}

p{
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    margin:15px 0;
}

blockquote small{
    color:#bdc3c7;
}

blockquote
{
    border-color: #bdc3c7;
}

a,
a:hover,
a:active{
    color:#3498db;
}

/* ----------  Layout ----------- */

#header{
    padding: 10px 0;
}

img.icon{
    width: 57px;
    height: 57px;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
    border-radius:15px;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
}


/* content */

#main-app-area{
    background: #343434;
    background-position: 50% 50%;
}

.details{
    padding: 20px;
}

.iphone {
    margin-top: 20px;
    width:348px;
    min-height: 700px;
    padding:118px 0 0 29px;
    background: url("./images/iphone.png") no-repeat;
}

#slides {
    width: 322px;
    margin-bottom: 2px;
    display: none;
}

#slides .slidesjs-navigation {
  display: none;
  margin-top:3px;
}

#slides .slidesjs-previous {
  margin-right: 5px;
  float: left;
}

#slides .slidesjs-next {
  margin-right: 5px;
  float: left;
}

.slidesjs-pagination {
  display: none;
  margin: 6px 0 0;
  float: right;
  list-style: none;
}

.slidesjs-pagination li {
  float: left;
  margin: 0 1px;
}

.slidesjs-pagination li a {
  display: block;
  width: 13px;
  height: 0;
  padding-top: 13px;
  background-image: url('images/pagination.png');
  background-position: 0 0;
  float: left;
}

.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
  background-position: 0 -13px
}

.slidesjs-pagination li a:hover {
  background-position: 0 -26px
}

#slides a:link,
#slides a:visited {
  color: #333
}

#slides a:hover,
#slides a:active {
  color: #f1c40f;
}


/* features */

#features{
    padding:20px 0 45px 20px;
    height:100%;
}

/* footer */

#footer{
    background-color: #3A3A3A;
}

/* make the footer sticky */

#body-wrapper{
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}
#footer, #sticky-footer-push{
  line-height: 60px; /* vertically centers text in the footer*/
  height:60px; /* unfortunately, static height is required for sticky footers. this could be done live in Js but footers don't change much so I don't think it's worth the performance cost of the JS */
}

/* responsive changes */

@media(max-width:1000px){
  /* header */
  #header{
    padding:10px;
  }
  /* main section */
  .span6, .container{
    width:100%;
    text-align: center;
  }
  /*features area */
  #features{
    padding-left: 60px;
    padding-right: 60px;
  }
  .span4, .span1{
    width: 100%;
    text-align: center;
  }
  .span1{
    margin-left: 0px;
  }
  .span4{
    margin: 0px;
  }
  .iphone{
    width: 348px;
  }
  .span6.details{
    margin: 0;
  }
  #itunes-link{
    margin-top: 50px;
  }
  .row{
    width: 450px;
    margin:0 auto;
  }

}
@media(max-width:600px){
  #features{
    padding:10px;
  }
  .span5, .span6{
    margin: 0px;
  }
  .iphone{
    margin-top:20px;
  }
  .span5{
    margin: 0 auto;
  }
  .row{
    width:347px;
    margin:0 auto;
  }
}
@media(max-width:440px){
  .row{
    margin:0px;
  }
  .iphone{
    margin-left: 10px;
  }
}
@media(max-width:320px){
  .row{
    width:300px;
    margin:0px;
  }

  .details{
    padding: 5px;
    width:310px;
}
.span5{
    width:310px;
  }

  .iphone {
    margin:20px 12px -120px;
    width:275px; /* you can use % */
    height: auto;
    padding:92px 0 0 22px;
    background-size: contain;
}
#slides {
    width: 252px;
    height: auto;
    margin-bottom: 2px;
    display: none
}
}
